parameters:
	level: 5
	fileExtensions:
		- php
		- phps
	paths:
		- .
	excludePaths:
		analyse:
			- includes/recaptcha
		analyseAndScan:
			- .phpstan.tmp
	tmpDir: .phpstan.tmp
	bootstrapFiles:
		- config/config_dist.inc.php
	ignoreErrors:
		#- '#is always (true|false)\.#'
		- '#Call to function assert\(\) with false will always evaluate to false\.#'
		#- '#with no typehint specified\.#'
